body {
    width: 90%;
    margin: 0 5%;
}

.tulsa {
    background-image: url(../img/jon-grogan-12WCUSkQxz0-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    height: 110vh;
    width: 110%;
    margin: 0 -5% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.78;
}
.topHeading {
    background-color: black;
    color: white;
    text-shadow: 0 0 5px black, 0 0 6px white, 0 0 8px black, 0 0 15px black,
        0 0 20px black;
    h1 {
        opacity: 1;
        font-size: 6.5rem;
        padding: 3% 3% 5% 0;
    }
    p {
        font-size: 3rem;
        padding: 0 3% 10% 0;
    }
}

.projectHighlights {
    width: 110%;
    position: absolute;
    margin: 0 -10%;
    h2 {
        padding: 2% 0;
    }
    p {
        padding: 2% 0;
    }
    .rect {
        margin: 0%;
        padding: 3% 15% 10%;
    }
    .right {
        margin: 0 0 8%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        transform-origin: left;
        transform: skew(-2deg, 2deg);
        h2,
        p {
            transform: skew(2deg, -2deg);
        }
    }
    .left {
        margin: 0 0 8%;
        transform-origin: right;
        transform: skew(2deg, -2deg);

        display: flex;
        flex-direction: column;
        h2,
        p {
            transform: skew(-2deg, 2deg);
        }
    }
    .border {
        border: 2px solid green;
    }
    .three {
        background-color: rgb(0, 110, 255);
        margin-top: -12%;
    }
    .two {
        background-color: blue;
        color: white;
        margin-top: -12%;
    }
    .one {
        background-color: darkblue;
        color: white;
        margin-top: -12%;
    }
}

.moreProjects {
    position: absolute;
    transform-origin: left;
    transform: skew(-2deg, 2deg);
    background-color: rgb(40, 151, 255);
    margin-top: 50%;
    margin-left: -10%;
    width: 110%;
    padding: 5% 10%;
    .moreHeading,
    .moreTiles {
        transform: skew(2deg, -2deg);
    }
    h3 {
        text-align: center;
    }
    p {
        padding: 2% 0;
    }

    .moreHeading {
        display: flex;
        flex-direction: column;
    }
    .moreTiles {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        border: 1px solid magenta;
        .tiles {
            border: 1px solid maroon;
            margin: 5% 10%;
        }
        h4,
        p,
        button {
            margin: 2% 5%;
        }
    }
}
.contact {
    position: absolute;
    margin-top: 100%;
    padding: 2% 0;
    h5 {
        text-align: center;
        padding-bottom: 2%;
    }
    p {
        text-align: center;
        padding: 1% 10%;
    }
    .contactColumns {
        border: 1px solid blue;
        margin: 3% 5%;
        display: flex;
        justify-content: space-around;
    }
    .twoColumn {
        border: 1px solid grey;
        width: 40%;
        li {
            padding: 1.5%;
            font-size: 1.6rem;
            line-height: 2;
        }
        form {
            border: 1px solid orangered;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            input {
                width: 28vw;
            }
            textarea {
                width: 28vw;
            }
            div {
                display: grid;
                margin: 3%;
            }
            button {
                align-self: flex-end;
                margin: 2% 15% 5% 0;
            }
        }
    }
}
footer {
    display: flex;
    width: 100%;
    border: 1px solid red;
    justify-content: space-between;
    h6 {
        justify-self: center;
        font-size: 1.5rem;
    }
}
